In [7]:
import pandas as pd
import numpy as np
from sklearn.utils import resample

In [17]:
dataset = pd.read_csv('required_datasets/creditcard.csv')
dataset_up=pd.read_csv('required_datasets/upsampling sorted_time.csv')
dataset_up.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,406.000000,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.000000,1
1,472.000000,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.000000,1
2,4129.000000,-1.127114,2.243660,-2.091397,3.686981,0.760128,-0.953360,-0.087208,0.165384,-1.430400,...,-0.052001,-0.557207,-0.316430,-0.466595,0.459102,0.067336,0.096898,-0.049837,80.310000,1
3,4462.000000,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.930000,1
4,4994.666667,-2.477695,0.779632,-2.581693,3.881388,0.333327,-2.041473,-1.600786,-0.053986,-1.104871,...,0.533261,0.001463,0.133410,-0.072788,0.673562,-0.098296,-0.114696,0.466304,196.333333,1

In [9]:
negative_class = dataset_up[dataset_up['Class'] == 1]

positive_class = dataset[dataset['Class'] == 0]

In [10]:
# Downsample the positive class
downsampled_positive = resample(positive_class,
                                replace=False,  # sample without replacement
                                n_samples=len(negative_class),  # match the number of samples in the negative class
                                random_state=0) 

# Combine the downsampled positive class with the negative class
balanced_data = pd.concat([downsampled_positive, negative_class])

# Shuffle the data to ensure the order is randomized
balanced_data = balanced_data.sample(frac=1, random_state=42)

# Save the balanced dataset to a new CSV file
# balanced_data.to_csv('upsample_creditcard.csv', index=False)

In [13]:
dataset=balanced_data

In [14]:
# dataset=pd.read_csv("upsample_creditcard.csv")

from sklearn.preprocessing import StandardScaler

dataset4 = dataset
# Normalizace the Amount between -1,1
dataset4['normalizedAmount'] = StandardScaler().fit_transform(dataset4['Amount'].values.reshape(-1,1))

a=dataset4['Class']
b=dataset4['normalizedAmount']

dataset4 = dataset4.drop(columns = ['Class','normalizedAmount'])

dataset4['normalizedAmount']=b
dataset4['Class']=a


dataset4 = dataset4.drop(columns = ['Amount','Time'])
dataset4.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,normalizedAmount,Class
116,-17.275191,10.819665,-20.363886,6.046612,-13.465033,-4.166647,-14.409448,11.580797,-4.073856,-9.153368,...,1.729804,-1.208096,-0.726839,0.112540,1.119193,-0.233189,1.684063,0.503740,-0.034126,1
104876,1.147448,-0.371367,0.386558,-0.738705,-0.653816,-0.323141,-0.265276,0.081274,1.366559,-1.005050,...,0.056543,0.498440,-0.137510,0.283736,0.734740,-0.586780,0.078561,0.010411,-0.348657,0
267185,1.927972,-1.046544,-1.290743,-0.671682,-0.761243,-0.384624,-0.962633,0.078601,-0.121307,0.221976,...,0.334698,0.747168,0.060210,0.651438,-0.221488,-0.151207,-0.001065,0.000272,-0.000405,0
239042,2.079286,-0.005002,-2.032459,-0.024342,0.354048,-1.508465,0.608366,-0.379957,0.139402,0.223014,...,0.194141,0.622446,-0.018536,0.040610,0.338080,0.225582,-0.094702,-0.092041,-0.405470,0
509,-0.178709,1.268945,-0.764349,1.805576,1.562118,-1.304855,0.467812,-0.039499,-0.247862,-2.309380,...,-0.330740,-0.734244,-0.246709,-0.280776,0.454897,-0.336865,0.073461,0.121783,-0.404609,1

In [15]:
X = dataset4.drop(columns = ['Class'])
y = dataset4['Class']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1372, 29)
(1372,)
(588, 29)
(588,)

In [16]:
dataset4.to_csv('creditcard_up.csv',index=False )