In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("using_datasets_now/creditcard_down.csv")
dataset.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,normalizedAmount,Class
0,-5.685013,5.776516,-7.064977,5.902715,-4.715564,-1.755633,-6.958679,3.877795,-5.541529,-7.502112,...,1.128641,-0.962960,-0.110045,-0.177733,-0.089175,-0.049447,0.303445,0.219380,0.058429,1
1,1.738348,-0.830540,-1.035978,-0.058083,0.480442,1.822751,-0.666923,0.591069,0.921700,-0.059426,...,-0.306775,-0.882622,0.439391,-0.973706,-0.806525,0.219390,-0.020649,-0.054579,-0.056273,0
2,-0.525485,-0.072842,-1.563655,0.479742,-0.190838,0.598794,1.911503,0.283636,-0.369490,-0.673894,...,0.465036,0.774206,1.032823,-1.092994,-1.420865,-0.930977,0.136462,0.308802,1.358599,0
3,-2.150855,2.187917,-3.430516,0.119476,-0.173210,0.290700,-2.808988,-2.679351,-0.556685,-4.485483,...,-0.073205,0.561496,-0.075034,-0.437619,0.353841,-0.521339,0.144465,0.026588,-0.228093,1
4,1.626242,-0.820035,-0.346565,1.361828,-0.350868,1.012204,-0.636001,0.334875,1.173782,0.082481,...,-0.102978,-0.353086,0.167590,0.181979,-0.296155,-0.898292,0.047243,-0.007560,0.236286,0

In [3]:
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)

In [11]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Flatten, Dropout
from tensorflow.keras.models import load_model
import tensorflow as tf
from tensorflow import keras

dnn_model = Sequential()

dnn_model.add(Dense(units=16, input_dim=29,activation='relu'))
dnn_model.add(Dense(units=24, activation='relu'))

dnn_model.add(Dropout(rate=0.4))

dnn_model.add(Dense(units=20,activation='relu'))
dnn_model.add(Dense(units=24,activation='relu'))

dnn_model.add(Dense(units=1,activation='sigmoid'))

#Summary the model
dnn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 16)                480

 dense_6 (Dense)             (None, 24)                408

 dropout_1 (Dropout)         (None, 24)                0

 dense_7 (Dense)             (None, 20)                500

 dense_8 (Dense)             (None, 24)                504

 dense_9 (Dense)             (None, 1)                 25

=================================================================
Total params: 1,917
Trainable params: 1,917
Non-trainable params: 0
_________________________________________________________________

In [6]:
dnn_model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [7]:
# cnn_14.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test))
dnn_model.fit(X_train, 
              y_train, 
              batch_size= 15,
              epochs = 10,
              validation_data=(X_test, y_test))

Epoch 1/10
51/51 [==============================] - 2s 7ms/step - loss: 0.5366 - accuracy: 0.6794 - val_loss: 0.4110 - val_accuracy: 0.9049
Epoch 2/10
51/51 [==============================] - 0s 3ms/step - loss: 0.3972 - accuracy: 0.8694 - val_loss: 0.2681 - val_accuracy: 0.9264
Epoch 3/10
51/51 [==============================] - 0s 3ms/step - loss: 0.2596 - accuracy: 0.9129 - val_loss: 0.2011 - val_accuracy: 0.9325
Epoch 4/10
51/51 [==============================] - 0s 4ms/step - loss: 0.2209 - accuracy: 0.9235 - val_loss: 0.1923 - val_accuracy: 0.9356
Epoch 5/10
51/51 [==============================] - 0s 4ms/step - loss: 0.1988 - accuracy: 0.9195 - val_loss: 0.1916 - val_accuracy: 0.9356
Epoch 6/10
51/51 [==============================] - 0s 3ms/step - loss: 0.1810 - accuracy: 0.9354 - val_loss: 0.1894 - val_accuracy: 0.9387
Epoch 7/10
51/51 [==============================] - 0s 3ms/step - loss: 0.1670 - accuracy: 0.9274 - val_loss: 0.1886 - val_accuracy: 0.9356
Epoch 8/10
51/51 [==============================] - 0s 4ms/step - loss: 0.1492 - accuracy: 0.9420 - val_loss: 0.1794 - val_accuracy: 0.9387
Epoch 9/10
51/51 [==============================] - 0s 3ms/step - loss: 0.1467 - accuracy: 0.9459 - val_loss: 0.1795 - val_accuracy: 0.9387
Epoch 10/10
51/51 [==============================] - 0s 4ms/step - loss: 0.1422 - accuracy: 0.9420 - val_loss: 0.1867 - val_accuracy: 0.9387

In [8]:
score = dnn_model.evaluate(X_test,y_test)
print(score)

11/11 [==============================] - 0s 2ms/step - loss: 0.1867 - accuracy: 0.9387
[0.18672357499599457, 0.9386503100395203]

In [9]:
# dnn_model.save("imbalanced/ANN_model.h5")

204     1
183     0
356     1
1068    0
272     1
       ..
9       0
436     0
903     1
863     1
898     1
Name: Class, Length: 326, dtype: int64